.chatbot {
  background-color: white;
  height: 60vh;
  max-height: 750px;
  width: 460px;
  position: fixed;
  bottom: 25px;
  right: 150px;
  margin: auto;
  border: 3px solid grey;
  z-index: 999;
}

.show-chat-btn {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  outline: none;
  background-color: #1982fc;
}

.show-chat-icon {
  font-size: 48px;
}

.chatbot-image {
  transform: translateY(5px);
}

.chatbot-footer {
  display: none;
}

/* mobile + small screen */
@media screen and (max-width: 480px) {
  .chatbot {
    overflow: hidden;
    height: 90%;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 10%;
    border: none;
  }

  .chatbot-footer {
    display: block;
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: white;
    border-top: 2px solid grey;
  }

  .mobile-close-chat-btn {
    position: fixed;
    bottom: 2%;
    height: 6%;
    left: 12.5%;
    width: 75%;
    z-index: 9999;
    background-color: #1982fc;
    margin: 0;
  }

  .show-chat-icon {
    font-size: 24px;
  }

  .show-chat-btn {
    height: 60px;
    width: 60px;
  }

  .tooltip {
    display: none;
  }
}
